<div>

	<a class="xx" [routerLink]="['voters']"> Voter list </a>
	<a class="xx" [routerLink]="['voting']"> Voting</a>
	<a class="xx" [routerLink]="['system']"> system-analyst</a>
	<!-- <a class="xx" *ngIf="adminRole||employeeRole" [routerLink]="['return']">Car returnal</a>
	<a class="xx" *ngIf="adminRole" [routerLink]="['manager']">Manager</a> -->
	<!-- &nbsp;&nbsp;&nbsp; -->
	<!-- <span *ngIf="userConnected">
		<a class="tt">Username:</a> -->
		<!-- <input type="text" [(ngModel)]="username" /> -->
		<!-- &nbsp;&nbsp;&nbsp; -->
		<!-- <a class="tt"> Password:</a> -->
		<!-- <input type="text" [(ngModel)]="password" />&nbsp; -->
		<!-- <button class="xxx" (click)="Login(username,password)">Login</button> -->
		<!-- <a style="color: white;" [routerLink]="['register']">Not a user?</a>&nbsp;&nbsp;&nbsp; -->

	<!-- <button class="xxx" (click)="logout()" *ngIf="logoutBool">Logout</button>&nbsp;&nbsp; -->

</div>



<router-outlet></router-outlet>